<h2 class="font-bold text-center text-4xl text-yellow-500">Change your password</h2>

<div class="flex flex-col justify-center sm:w-96 sm:m-auto mx-5 mb-5 space-y-8">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "bg-gray shadow-lg rounded px-4 pt-6 pb-8 my-4" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "New password", class: "block text-gray-700 text-sm font-normal mb-2" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password", class: "block text-gray-700 text-sm font-normal mb-2" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: "bg-blue-500 text-white font-bold px-5 py-2 rounded focus:outline-none shadow hover:bg-blue-700 transition-colors cursor-pointer" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
