<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer name:</strong>
  <%= @purchase.description %>
</p>

<p>
  <strong>Buyer name:</strong>
  <%= @purchase.user_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @purchase.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @purchase.status %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @purchase.updated_by %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @purchase.notes %>
</p>

<%= link_to 'Back', purchases_path %>
